// Page d'acceuil 
#home1{
    background-color: $black;
    height: 600px;
}
.presentation{
    display: flex;
    justify-content: center;   
 .logo{
    width: 350px;
 }
.texte-presentation{
    width: 500px;
    display: flex;
    align-items: center;
   
}
}

#home3{

    .container{
        display: flex;
        flex-direction: column;
    }
    .style-card{
    display:flex;
}
.card-product{
    display: flex;
    justify-content: center;
}
.card{
    
    width: 250px;
    padding: 10px;
}
}


#home5{
    height: 600px;
    background-image: url(image/boutique.webp);
    background-size: cover;
    .container{
        position: relative;
        top:150px;
    }
        .boutique{
            display: flex;
            justify-content: center;
            background-color: aqua;
            height: 300px;
        .text-boutique{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $black;
        }
        }
}

#section1{
    height: 700px;
    background-color: #202020;
}
#section2{
    height: 700px;
}
#section2 .container{
    display: flex;
    flex-direction: column;
}
h1, h3{
    text-align:center;
}
.images{
    display: flex;
    justify-content: center;
}
.image1, .image2 {
    width:500px;
}
#section3{

    height: 750px;
}
#section3 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.montre{
    display: flex;
    padding-top: 40px;
}
.montre-texte{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.montre-texte img{
 width: 420px;
}
.montre-texte h1{
   margin:0;
    }
.montre-texte p{
   text-align: center;
   }
   .products{
    width: 100%;
    align-self: center;
    height: 70%;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.product{
    position: relative;
    background-color: var(--sectionBack);
    width: 300px;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   align-items: center;
    border-radius: 10px;
    transition: .3s;
}

#section4{
    height: 500px;
}
#section5{
    height: 600px;
    background-color: #202020;
}
#section7{
    height: 600px;
    background-image: url(image/boutique.webp);
    background-size: cover;
    padding-top: 80px;
        .boutique{
            display: flex;
            justify-content: center;
            background-color: aqua;
            height: 300px;
        }
        .text-boutique{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: black;
        }
}